name: "Validate Pull Request"
on:
  push:
  pull_request:

jobs:
  build:
    name: "Validate pull request"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - uses: actions/cache@v2
        id: cache-venv  # name for referring later
        with:
          path: .venv  # what we cache: the virtualenv
          # The cache key depends on all requirements files
          key: ${{ runner.os }}-venv-${{ hashFiles('requirements*.txt') }}
      # Build a virtualenv, but only if it doesn't already exist
      - name: Install dependencies
        run: |
          python -m venv .venv
          .venv/bin/python -m pip install --upgrade pip
          .venv/bin/pip install -r requirements.txt
        if: steps.cache-venv.outputs.cache-hit != 'true'
